<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>陈应贤-文章</title>
    <script src="./../src/js/vue.js"></script>
    <script src="./../src/js/jquery.min.js"></script>
    <script src="./../src/js/popper.min.js"></script>
    <script src="./../src/js/bootstrap.min.js"></script>
    <script src="./../src/js/article.js"></script>
    <link href="./../src/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="./../src/css/article.css" rel="stylesheet" type="text/css"/>
    <link href="./../src/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">陈应贤的博客</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">简历</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">联系我</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <!--主页-左侧内容栏-->
        <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12 p-4">
            <!--最新文章-->
            <div class="row">
                <div class="alert alert-light" role="alert">
                    <h3 class="font-weight-bold">最新文章</h3>
                </div>
            </div>
            <div class="row" id="index-left-content-new">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12" v-for="datas in content">
                    <div class="card col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-1 shadow p-3 mb-5 bg-white rounded" v-on:click="getArticleInfo(datas.id)">
                        <img class="card-img-top" :src="datas.img_url" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text text-secondary text-center">
                                {{datas.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--热门文章-->
            <div class="row">
                <div class="alert alert-light" role="alert">
                    <h3 class="font-weight-bold">热门文章</h3>
                </div>
            </div>
            <div class="row" id="index-left-content-hot">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12" v-for="datas in content">
                    <a href="https://www.baidu.com" style="text-decoration: none;">
                        <div class="card col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-1 shadow p-3 mb-5 bg-white rounded">
                            <img class="card-img-top" :src="datas.img_url" alt="Card image cap">
                            <div class="card-body">
                                <div class="card-text text-secondary text-center">
                                    {{datas.title}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--主页-右侧个人信息-->
        <div class="col-xl-2 d-none d-xl-block p-4">
            <div class="row">
                <div class="card col-xl col-lg-4 col-md-6 col-sm-12 col-12 m-1 border-primary" style="width: 18rem;">
                    <!--主页-右侧头像-->
                    <img class="card-img-top align-self-center index-my-img shadow-lg mb-1 bg-white rounded" src="./../src/img/20190210172554.jpg" alt="Card image cap">
                    <div class="card-body">
                    </div>
                    <!--主页-右侧个人信息按钮组-->
                    <div class="list-group pb-3">
                        <button type="button" class="list-group-item list-group-item-action active text-center">陈应贤</button>
                        <button type="button" class="list-group-item list-group-item-action btn-primary text-center" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">联系方式</button>
                        <!--主页-右侧-按钮组-联系方式折叠面板-->
                        <div class="collapse" id="collapseExample1">
                            <div class="card card-body">
                                <ul class="nav nav-pills nav-fill"">
                                    <li class="nav-item">
                                        <a class="nav-item nav-link active" id="qq-tab" data-toggle="tab" href="#qq-img" role="tab" aria-controls="nav-home" aria-selected="true">QQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-item nav-link" id="wechat-tab" data-toggle="tab" href="#wechat-img" role="tab" aria-controls="nav-profile" aria-selected="false">微信</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="qq-img" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <img class="card-img-top" src="./../src/img/qq-img.jpg">
                                    </div>
                                    <div class="tab-pane fade" id="wechat-img" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <img class="card-img-top" src="./../src/img/wechat-img.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="list-group-item list-group-item-action btn-primary text-center"  data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">最新文章</button>
                        <!--主页-右侧-按钮组-最新文章折叠面板-->
                        <div class="collapse" id="collapseExample2">
                            <div class="card card-body">
                                最新文章
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>